<h1>Witaj w systemie rezerwacji wizyt!</h1>
<p>
    <a asp-controller="Appointment" asp-action="Create">Umów wizytę</a>
</p>
<p>
    <a asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
    <a asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
</p>
